body {
    margin: 0;
    padding: 0;
}

div {
    position: absolute;
}

.bg {
    width: 800px;
    height: 600px;
    background: #f2f2f2;
    overflow: hidden;
}

.beam {
    width: 1600px;
    height: 20px;
    background: #fff;
    top: 290px;
    left: -400px;
}

.img_div {
    margin: 10px auto;
}

img {
    position: fixed;
    top: 160px;
    left: 225px;
    width: 335px;
    border-radius: 50%;
}